[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pandas = "*"
numpy = "*"
plotly = "*"
scikit-learn = "*"
torch = "*"
streamlit-option-menu = "*"

[dev-packages]

[requires]
python_version = "3.10"
